<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- if using annotation-application-context this config is not necessary -->
    <context:component-scan base-package="top.hubby.spring.debug.*"/>

    <bean id="person4LifeCycle" class="top.hubby.spring.debug.common.model.Person">
        <property name="name" value="zack"/>
        <property name="age" value="20"/>
        <property name="gender" value="0"/>
    </bean>

</beans>